:host {
  display: block;
  padding: 2em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul > li {
  margin-bottom: 4px;
}
h2 {
  font-size: 3em;
  padding: 0;
  color: rgb(148, 192, 204);
}
form > section {
  margin-bottom: 2em;
}
form > section > h1 {
  font-size: 2em;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 4px solid rgba(244, 244, 240, 0.6);
  position: relative;
}
form > section > h1:before {
  content: " ";
  position: absolute;
  border-bottom: 3px dotted rgba(244, 244, 240, 0.6);
  width: 100%;
  bottom: -14px;
  left: 0;
}
form > section > section > h1 {
  text-transform: uppercase;
  font-size: 1.6em;
}
form > section > section {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 1.4em;
  vertical-align: center;
}
input[type=text] {
  font-family: 'Gloria Hallelujah', cursive;
  border: 0;
  border-bottom: 3px solid rgba(244, 244, 240, 0.6);;
  font-size: 2em;
  padding: 4px;
  color: #fad48b;
  background-color: transparent;
}
input[type=text]:focus {
  outline: none;
}
select {
  border: 0;
  border-bottom: 3px solid rgba(244, 244, 240, 0.6);;
  font-size: 1.6em;
  padding: 4px;
  cursor: pointer;
  color: #fad48b;
  background-color: transparent;
}
select:focus {
  outline: none;
}
select option {
  background-color: #262223;
}
input[type=checkbox], input[type=radio] {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
}
button {
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
  position: relative;
  font-size: 2em;
  border: 2px solid #fff;
  background-color: #fff;
  color: #262223;
  padding: 12px;
}
button:before {
  content: ' ';
  position: absolute;
  border: 2px solid #262223;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}
button:hover {
  color: rgb(148, 192, 204);
}
.weird-requests button {
  font-size: 1em;
}
.build-your-own {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.build-your-own > h1, .build-your-own > section {
  flex: 1 100%;
}
@media all and (min-width: 768px) {
  .build-your-own > section { flex: 1 auto; }
}
@media only screen and (max-width: 768px) {
  .build-your-own > section { flex: 1 50%; }
}
@media only screen and (max-width: 425px) {
  .build-your-own > section { flex: 1 100%; }
}