<h2>Order Sheet</h2>
<form novalidate>
  <section>
    <input type="text" placeholder="Your Name">
  </section>
  <section>
    <h1>Pick your size</h1>
    <label>
      <input type="radio" name="size"> Small
    </label>
    <label>
      <input type="radio" name="size"> Large
    </label>
  </section>
  <section>
    <h1>Specialty Sandwiches</h1>
    <select>
      <option value=""></option>
      <option *ngFor="let specialtySandwich of menuItems.specialtySandwiches">
        {{specialtySandwich.name}}
      </option>
    </select>
  </section>
  <section>
    <h1>Build Your Own</h1>
    <section>
      <h1>A Bread</h1>
      <ul>
        <li *ngFor="let bread of menuItems.breads">
          <label>
            <input type="radio" name="bread"> {{bread}}
          </label>
        </li>
      </ul>
    </section>
    <section>
      <h1>The Meats</h1>
      <ul>
        <li *ngFor="let meat of menuItems.meats">
          <label>
            <input type="checkbox"> {{meat}}
          </label>
        </li>
      </ul>
    </section>
    <section>
      <h1>The Cheeses</h1>
      <ul>
        <li *ngFor="let cheese of menuItems.cheeses">
          <label>
            <input type="checkbox"> {{cheese}}
          </label>
        </li>
      </ul>
    </section>
    <section>
      <h1>Veggies 'n Such</h1>
      <ul>
        <li *ngFor="let item of menuItems.veggiesAndSuch">
          <label>
            <input type="checkbox"> {{item}}
          </label>
        </li>
      </ul>
    </section>
  </section>
  <section>
    <h1>Weird Requests</h1>
    <ul>
      <li>
        <input type="text">
        <button type="button" title="Remove Request"></button>
      </li>
    </ul>
    <button type="button">Add a Request</button>
  </section>
  <section>
    <h1>Other Notes</h1>
    <textarea></textarea>
  </section>
  <button type="submit">Place Order</button>
</form>
<debug-panel [data]="menuItems"></debug-panel>