<h2>Order Sheet</h2>
<form novalidate>
  <section>
    <input type="text" placeholder="Your Name">
  </section>
  <section>
    <h1>Pick your size</h1>
    <label>
      <input type="radio" name="size"> Small
    </label>
    <label>
      <input type="radio" name="size"> Large
    </label>
  </section>
  <section>
    <h1>Specialty Sandwiches</h1>
    <select>
      <option value=""></option>
      <option value="The Grinder">The Grinder</option>
      <option value="Cordon Bleu">Cordon Bleu</option>
      <option value="Cali Cheesesteak">Cali Cheesesteak</option>
    </select>
  </section>
  <section>
    <h1>Build Your Own</h1>
    <section>
      <h1>A Bread</h1>
      <label>
        <input type="radio" name="bread"> Wheat Roll
      </label>
      <label>
        <input type="radio" name="bread"> White Roll
      </label>
      <label>
        <input type="radio" name="bread"> Sourdough Roll
      </label>
    </section>
    <section>
      <h1>The Meats</h1>
      <label>
        <input type="checkbox"> Ham
      </label>
      <label>
        <input type="checkbox"> Turkey
      </label>
      <label>
        <input type="checkbox"> Roast Beef
      </label>
    </section>
    <section>
      <h1>The Cheeses</h1>
      <label>
        <input type="checkbox"> Provolone
      </label>
      <label>
        <input type="checkbox"> Cheddar
      </label>
      <label>
        <input type="checkbox"> Swiss
      </label>
    </section>
    <section>
      <h1>Veggies 'n Such</h1>
      <label>
        <input type="checkbox"> Lettuce
      </label>
      <label>
        <input type="checkbox"> Tomato
      </label>
      <label>
        <input type="checkbox"> Mustard
      </label>
    </section>
  </section>
  <section>
    <h1>Weird Requests</h1>
    <ul>
      <li>
        <input type="text">
        <button type="button" title="Remove Request"></button>
      </li>
    </ul>
    <button type="button">Add a Request</button>
  </section>
  <section>
    <h1>Other Notes</h1>
    <textarea></textarea>
  </section>
  <button type="submit">Place Order</button>
</form>
<debug-panel></debug-panel>